* {
	box-sizing: border-box;
	font-family: "Roboto";
	margin: 0;
	padding: 0;
}
header {
	background-color: #FCCE09;
	background-size: cover;
	height: 500px;
}
header a {
	text-decoration: none;
	color: #FFFFFF;
	float: left;
	margin: 40px 10px;
	margin-top: 30px;
}
button {
	background-color: #FCBA43;
	border: none;
	color: #FFFFFF;
	margin-top: 30px;
	text-align: center;
}
.text{
	margin-top: 200px;
	padding-left: 200px;
}
.logo1{
	color: #F2F2F2;
	font-size: 28px;
	text-align: center;
}
.logo2{
	color: #F2F2F2;
	padding-left: 25px;
}
.nav{
	color: #F2F2F2;
	text-decoration: none;
}
.right{
	margin-top: 30px;
}
section{
	background-color: #DEDDDD;
}
.box{
	background-color: white;
	height: 600px;
	margin: 20px 20px 20px 20px;
	width: 400px;
}
img{
	padding: 10px 50px;
}
.text-box{
	color: #979595;
	margin: 25px 25px 25px 25px;
	font-size: 12px;
}
footer{
	background-color: #2E2E2E;
	padding: 15px;
}
.footer{
	color: #F2F2F2;
	font-size: 12px;
}